<h1>Movies</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Year</th>
    <th>Superhero</th>
    <th>MPAA Rating</th>
    <th>Director</th>
    <th>Synopsis</th>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.year %>
        </td>
        <td>
          <%= movie.superhero %>
        </td>
        <td>
          <%= movie.mpaa_rating %>
        </td>
        <td>
          <%= movie.director %>
        </td>
        <td>
          <%= movie.synopsis %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
