<h1 class="comic-title">Movies</h1>

<% if user_signed_in? %>
  <%= link_to "Add", new_movie_path, class: "button" %>
<% end %>

<table>
  <thead>
    <th>Title</th>
    <th>Year</th>
    <th>Superhero</th>
    <th>MPAA Rating</th>
    <th>Director</th>
    <th>Synopsis</th>
    <% if admin? %>
      <th>Delete</th>
    <% end %>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr id=<%= "movie_#{movie.id}" %>>
        <td>
          <%= link_to movie.title, movie_path(movie) %>
        </td>
        <td>
          <%= movie.year %>
        </td>
        <td>
          <%= movie.superhero %>
        </td>
        <td>
          <%= movie.mpaa_rating %>
        </td>
        <td>
          <%= movie.director %>
        </td>
        <td>
          <% if movie.synopsis != "" %>
            <%= truncate(movie.synopsis, length: 150) %>
            <%= link_to "read more", movie_path(movie) %>
          <% end %>
        </td>
        <% if admin? %>
          <td>
            <%= link_to 'Delete', movie_path(movie), method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @movies %>
