<div class="movie">
  <h1 class="comic-title"><%= @movie.title %></h1>
  <p><%= link_to "Back to Movies", movies_path %></p>

  <table>
    <thead>
      <th>Year</th>
      <th>Hero</th>
      <th>MPAA</th>
      <th>Director</th>
      <th>Avg. Rating</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @movie.year %></td>
        <td><%= @movie.superhero %></td>
        <td><%= @movie.mpaa_rating %></td>
        <td><%= @movie.director %></td>
        <td><%= @movie.average_rating %></td>
      </tr>
      <% if @movie.synopsis != "" %>
        <tr>
          <th colspan="5">Synopsis</th>
        </tr>
        <tr>
          <td colspan="5"><%= @movie.synopsis %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add Review', new_movie_review_path(@movie), class: "button" %>
  <% if admin? %>
    <%= link_to 'Delete Review', movie_path(@movie), method: :delete, class: "button alert" %>
  <% end %>
</div>

<% if !@movie.reviews.empty? %>
  <table class="reviews">
    <tbody>
      <% @movie.reviews.each do |r| %>
        <tr>
          <td>
            <% if user_signed_in? %>
              <% if user_vote_on(current_user, r) %>
                <% if user_has_upvoted?(current_user, r) %>
                  <div class="button tiny">Up (<%= r.up_votes_count %>)</div>
                  <%= link_to "Down (#{r.down_votes_count})", {action: "update",
                    controller: "votes", review_id: r.id, user_id: current_user.id, value: "Down"}, method: :put, class: "button tiny alert" %>
                <% else %>
                  <%= link_to "Up (#{r.up_votes_count})", {action: "update",
                    controller: "votes", review_id: r.id, user_id: current_user.id, value: "Up"}, method: :put, class: "button tiny success" %>
                    <div class="button tiny">Down (<%= r.down_votes_count %>)</div>
                <% end %>
              <% elsif current_user %>
                <%= link_to "Up (#{r.up_votes_count})", {action: "create",
                    controller: "votes", review_id: r.id, user_id: current_user.id, value: "Up"}, method: :post, class: "button tiny success" %>
                <%= link_to "Down (#{r.down_votes_count})", {action: "create",
                    controller: "votes", review_id: r.id, user_id: current_user.id, value: "Down"}, method: :post, class: "button tiny alert" %>
              <% end %>
            <% else %>
              <div class="button tiny">Up (<%= r.up_votes_count %>)</div>
              <div class="button tiny">Down (<%= r.down_votes_count %>)</div>
            <% end %>
          </td>
          <td>
            <%= r.rating %>/5
          </td>
          <td>
            <p><%= r.body %></p>
            <% if r.user == current_user || admin? %>
              <%= link_to 'Edit', edit_movie_review_path(id: r.id, movie_id: @movie.id) %>
              <%= link_to "Delete", { action: "destroy", controller: "reviews", id: r.id, movie_id: @movie.id }, method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tobdy>
  </table>
<% end %>
