<h1><%= @movie.title %></h1>

<p><%= @movie.year %></p>
<p>Hero: <%= @movie.superhero %></p>
<% if @movie.mpaa_rating != "" %>
  <p>MPAA Rating: <%= @movie.mpaa_rating %></p>
<% end %>
<% if @movie.synopsis != "" %>
  <p>Synopsis: <%= @movie.synopsis %></p>
<% end %>
<% if @movie.director != "" %>
  <p>Director: <%= @movie.director %></p>
<% end %>
<p>Average Rating: <%= @movie.average_rating %></p>
<p>
  <%= link_to 'Add Review', "/movies/#{@movie.id}/reviews/new" %>
</p>

<% @reviews.each do |r| %>

  <div id="<%= r.id %>">

    <%= link_to 'Edit', edit_movie_review_path(id: r.id, movie_id: @movie.id) %>

      <%= button_to "Delete", { action: "destroy", controller: "reviews", id: r.id, movie_id: @movie.id }, method: :delete, data: { confirm: "Are you sure?" } %>

    <p>Rating: <%= r.rating %></p>

    <p><%= r.body %></p>

    <div class='votes'>

    <% if user_signed_in? && r.votes.where(user: current_user, value: "Up").empty? %>
      <%= button_to 'Up', {action: "create",
      controller: "votes", review_id: r.id, user_id: current_user.id, value: "Up"}, method: :post %>
    <% else %>
      Up
    <% end %>
      <span id='up_count'><%= r.votes.where(value: 'Up').count %></span>

    <% if user_signed_in? && r.votes.where(user: current_user, value: "Down").empty? %>
      <%= button_to 'Down', {action: "create",
      controller: "votes", review_id: r.id, user_id: current_user.id, value: "Down"}, method: :post %>
      <% else %>
        Down
      <% end %>
      <span id='down_count'><%= r.votes.where(value: 'Down').count %></span>
    </div>
  </div>
<% end %>
