<h1><%= @movie.title %></h1>

<p><%= @movie.year %></p>
<p>Hero: <%= @movie.superhero %></p>
<% if @movie.mpaa_rating != "" %>
  <p>MPAA Rating: <%= @movie.mpaa_rating %></p>
<% end %>
<% if @movie.synopsis != "" %>
  <p>Synopsis: <%= @movie.synopsis %></p>
<% end %>
<% if @movie.director != "" %>
  <p>Director: <%= @movie.director %></p>
<% end %>
<p>Average Rating<%= @movie.average_rating %></p>
<p>
  <%= link_to 'Add Review', "/movies/#{@movie.id}/reviews/new" %>
</p>

<% @movie.reviews.each do |r| %>
  <div id="<%= r.id %>">
    <%= link_to 'Edit', edit_movie_review_path(id: r.id, movie_id: @movie.id) %>
    <%= button_to "Delete", { action: "destroy", controller: "reviews", id: r.id, movie_id: @movie.id }, method: :delete, data: { confirm: "Are you sure?" } %>
    <p>Rating: <%= r.rating %></p>
    <p><%= r.body %></p>
    <p class='votes'><%= button_to 'Up',
      create_vote_path(review_id: r.id, user_id: current_user.id, value: 'up') %>
      <span id='up_count'><%= r.votes.where(value: 'up').count %></span>
      <%= button_to 'Down',
      create_vote_path(review_id: r.id, user_id: current_user.id, value: 'down') %>
      <span id='down_count'><%= r.votes.where(value: 'down').count %></span>
    </p>
  </div>
<% end %>
